.title-box {
    text-align: center;
    width: 800px;
    margin-left: 15%; 
}

.title-background {
    position: absolute;
    height: auto;
    background-size: cover;
}

.map-title {
    position: absolute;
    color: #333333;
    background: rgba(255, 255, 255, 0.9);
    margin-top: 10px;
    font-size: 50px;
    font-weight: 700;
    width: 700px;
    font-family: 'Open Sans';
}

#infoPanel {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 10%;
    background-color: rgba(255, 255, 255, 0.9);
    padding-bottom: 10px 
}

.text-center {
    padding-left: 5px;
}